
.vs/

ChildrenofOsi/ChildrenofOsi/Debug
ChildrenofOsi/ChildrenofOsi.VC.db
ChildrenofOsi/ChildrenofOsi.VC.VC.opendb

ChildrenOfOsi/.vs/
ChildrenOfOsi/Debug/ChildrenOfOsi.pdb
ChildrenOfOsi/Debug/ChildrenOfOsi.ilk
ChildrenOfOsi/Debug/ChildrenOfOsi.exe
ChildrenOfOsi/ipch/
ChildrenOfOsi/x64/
ChildrenOfOsi/ChildrenOfOsi/x64/

ChildrenOfOsi/ChildrenOfOsi/memory_test.txt
ChildrenOfOsi/ChildrenOfOsi/audio_test.txt
ChildrenOfOsi/ChildrenOfOsi/physics_test.txt
ChildrenOfOsi/ChildrenOfOsi/render_test.txt
ChildrenOfOsi/ChildrenOfOsi/task_buffer_test.txt
ChildrenOfOsi/ChildrenOfOsi/message_log.txt
*.txt
