ChildrenOfOsi/.vs/
ChildrenOfOsi/Debug/
ChildrenOfOsi/ipch/
ChildrenOfOsi/x64/


ChildrenOfOsi/ChildrenOfOsi.VC.db
ChildrenOfOsi/ChildrenOfOsi.VC.VC.opendb

ChildrenOfOsi/ChildrenOfOsi/x64/

